<a href="https://colab.research.google.com/github/Ashik9576/PySpark_Learning/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PySpark Installation**

In [11]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [12]:
import pyspark

In [13]:
# mounted the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Pyspark/counties.csv")

In [16]:
df.columns=['Name','ID']

In [17]:
df.head()

        Name     ID
0      Adams   4029
1  Allamakee  14330
2  Appanoose  12884
3    Audubon   6119
4     Benton  26076

# **Reading file in Spark**

**firstly I have to creat a spark session**

In [18]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Ashik').getOrCreate()

In [20]:
spark

In [22]:
df_spark=spark.read.csv("/content/drive/MyDrive/Pyspark/counties.csv")

In [23]:
df_spark.show()

+-----------+------+
|        _c0|   _c1|
+-----------+------+
|      Adair|  7682|
|      Adams|  4029|
|  Allamakee| 14330|
|  Appanoose| 12884|
|    Audubon|  6119|
|     Benton| 26076|
| Black Hawk|131090|
|      Boone| 26306|
|     Bremer| 24276|
|   Buchanan| 20958|
|Buena Vista| 20260|
|     Butler| 14867|
|    Calhoun|  9670|
|    Carroll| 20816|
|       Cass| 13956|
|      Cedar| 18499|
|Cerro Gordo| 44151|
|   Cherokee| 12072|
|  Chickasaw| 12439|
|     Clarke|  9286|
+-----------+------+
only showing top 20 rows