<a href="https://colab.research.google.com/github/Ashik9576/PySpark_Learning/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PySpark Installation**

In [ ]:
#installing pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c04277c14c510baf0be36c3a75684719792abd35ff66cc3d7479554743cc911d
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark

In [ ]:
# mounted the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Pyspark/counties.csv")

In [ ]:
df.columns=['Name','ID']

In [ ]:
df.head()

        Name     ID
0      Adams   4029
1  Allamakee  14330
2  Appanoose  12884
3    Audubon   6119
4     Benton  26076

# **Reading file in Spark**

**firstly I have to creat a spark session**

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Ashik').getOrCreate()

In [ ]:
spark

In [ ]:
df_spark=spark.read.csv("/content/drive/MyDrive/Pyspark/counties.csv")

In [ ]:
df_spark.show()

+-----------+------+
|        _c0|   _c1|
+-----------+------+
|      Adair|  7682|
|      Adams|  4029|
|  Allamakee| 14330|
|  Appanoose| 12884|
|    Audubon|  6119|
|     Benton| 26076|
| Black Hawk|131090|
|      Boone| 26306|
|     Bremer| 24276|
|   Buchanan| 20958|
|Buena Vista| 20260|
|     Butler| 14867|
|    Calhoun|  9670|
|    Carroll| 20816|
|       Cass| 13956|
|      Cedar| 18499|
|Cerro Gordo| 44151|
|   Cherokee| 12072|
|  Chickasaw| 12439|
|     Clarke|  9286|
+-----------+------+
only showing top 20 rows

# **Changing the columns name**

In [ ]:
df_spark=df_spark.withColumnRenamed("_c0","Name")\
 .withColumnRenamed("_c1","ID")

In [ ]:
df_spark.show(5)

+---------+-----+
|     Name|   ID|
+---------+-----+
|    Adair| 7682|
|    Adams| 4029|
|Allamakee|14330|
|Appanoose|12884|
|  Audubon| 6119|
+---------+-----+
only showing top 5 rows

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- ID: string (nullable = true)

My Id column is integer but it is showing string because it takes every column as string to handle it we will pass "inferScheme=True" while reading the dataset

In [ ]:
df_spark=spark.read.csv("/content/drive/MyDrive/Pyspark/counties.csv",inferSchema=True)

In [ ]:
df_spark=df_spark.withColumnRenamed("_c0","Name")\
 .withColumnRenamed("_c1","ID")

In [ ]:
# checking the datatype of columns
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- ID: integer (nullable = true)

Now it showing integer type for ID

In [ ]:
# checking for first 3 rows
df_spark.head(3)

[Row(Name='Adair', ID=7682),
 Row(Name='Adams', ID=4029),
 Row(Name='Allamakee', ID=14330)]

In [ ]:
#to check the type of variable_name 
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# to check the all columns name
df_spark.columns

['Name', 'ID']

In [ ]:
# select column by providing columns names 
df_spark.select('Name').show(5)

+---------+
|     Name|
+---------+
|    Adair|
|    Adams|
|Allamakee|
|Appanoose|
|  Audubon|
+---------+
only showing top 5 rows

In [ ]:
# check datatype of each column
df_spark.dtypes

[('Name', 'string'), ('ID', 'int')]

In [ ]:
# descibing the dataset
df_spark.describe().show()

+-------+------+------------------+
|summary|  Name|                ID|
+-------+------+------------------+
|  count|    99|                99|
|   mean|  null| 30771.23232323232|
| stddev|  null|52888.737874675055|
|    min| Adair|              4029|
|    max|Wright|            430640|
+-------+------+------------------+

In [ ]:
# adding column to dataframe
df_spark=df_spark.withColumn('ID2',df_spark['ID']+2)

In [ ]:
df_spark.show(5)

+---------+-----+-----+
|     Name|   ID|  ID2|
+---------+-----+-----+
|    Adair| 7682| 7684|
|    Adams| 4029| 4031|
|Allamakee|14330|14332|
|Appanoose|12884|12886|
|  Audubon| 6119| 6121|
+---------+-----+-----+
only showing top 5 rows

In [ ]:
# droping columns from data frame
df_spark=df_spark.drop('ID2')

In [ ]:
df_spark.show(5)

+---------+-----+
|     Name|   ID|
+---------+-----+
|    Adair| 7682|
|    Adams| 4029|
|Allamakee|14330|
|Appanoose|12884|
|  Audubon| 6119|
+---------+-----+
only showing top 5 rows

# **Day 2**

In [ ]:
df_spark=spark.read.csv("/content/drive/MyDrive/Pyspark/PYSPA.csv",header=True, inferSchema=True)

In [ ]:
df_spark.show()

+----+----+----------+-----+
|Name| age|Experience|Salay|
+----+----+----------+-----+
|   A|  31|        10|30000|
|   B|  30|         8|25000|
|   C|  29|         4|20000|
|   D|  24|         3|15000|
|   E|  21|         1|18000|
|   F|  23|         2|40000|
|   G|null|      null|38000|
|null|  34|        10| null|
|null|  36|      null| null|
+----+----+----------+-----+

In [ ]:
#droping rows cointaing null value if "how=any" it will drop row having 1,2 or more null values in a row 
#but if "how=all" it will drop row having all null values assigned to all columns
df_spark.na.drop(how="any").show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   D| 24|         3|15000|
|   E| 21|         1|18000|
|   F| 23|         2|40000|
+----+---+----------+-----+

In [ ]:
df_spark.show()

+----+----+----------+-----+
|Name| age|Experience|Salay|
+----+----+----------+-----+
|   A|  31|        10|30000|
|   B|  30|         8|25000|
|   C|  29|         4|20000|
|   D|  24|         3|15000|
|   E|  21|         1|18000|
|   F|  23|         2|40000|
|   G|null|      null|38000|
|null|  34|        10| null|
|null|  36|      null| null|
+----+----+----------+-----+

In [ ]:
# threshold: if "thresh=2" it means at least two not null columns should present in a row if it is not then it will be deleted.

In [ ]:
df_spark.na.drop(how="any",thresh=2).show()

+----+----+----------+-----+
|Name| age|Experience|Salay|
+----+----+----------+-----+
|   A|  31|        10|30000|
|   B|  30|         8|25000|
|   C|  29|         4|20000|
|   D|  24|         3|15000|
|   E|  21|         1|18000|
|   F|  23|         2|40000|
|   G|null|      null|38000|
|null|  34|        10| null|
+----+----+----------+-----+

In [ ]:
#subset: if subset=['age'] the all the rows containing null in age will be deleted
df_spark.na.drop(how="any",subset=['age']).show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   D| 24|         3|15000|
|   E| 21|         1|18000|
|   F| 23|         2|40000|
|null| 34|        10| null|
|null| 36|      null| null|
+----+---+----------+-----+

**filling of MIssing value**

In [ ]:
#fill takes two parameter value and subset
df_spark.na.fill(0).show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   D| 24|         3|15000|
|   E| 21|         1|18000|
|   F| 23|         2|40000|
|   G|  0|         0|38000|
|null| 34|        10|    0|
|null| 36|         0|    0|
+----+---+----------+-----+

it is not filling name column because we are filling with integer but this is not an interger column

In [ ]:
df_spark.na.fill('Ashik').show()

+-----+----+----------+-----+
| Name| age|Experience|Salay|
+-----+----+----------+-----+
|    A|  31|        10|30000|
|    B|  30|         8|25000|
|    C|  29|         4|20000|
|    D|  24|         3|15000|
|    E|  21|         1|18000|
|    F|  23|         2|40000|
|    G|null|      null|38000|
|Ashik|  34|        10| null|
|Ashik|  36|      null| null|
+-----+----+----------+-----+

In [ ]:
#subset=['age','Experience']
df_spark.na.fill(0,['age','Experience']).show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   D| 24|         3|15000|
|   E| 21|         1|18000|
|   F| 23|         2|40000|
|   G|  0|         0|38000|
|null| 34|        10| null|
|null| 36|         0| null|
+----+---+----------+-----+

In [ ]:
# fill null values with mean,mode and median by using imputer function in pyspark

from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['age','Experience','Salay'],
    outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salay']]).setStrategy("mean")

In [ ]:
imputer.fit(df_spark).transform(df_spark).show()

+----+----+----------+-----+-----------+------------------+-------------+
|Name| age|Experience|Salay|age_imputed|Experience_imputed|Salay_imputed|
+----+----+----------+-----+-----------+------------------+-------------+
|   A|  31|        10|30000|         31|                10|        30000|
|   B|  30|         8|25000|         30|                 8|        25000|
|   C|  29|         4|20000|         29|                 4|        20000|
|   D|  24|         3|15000|         24|                 3|        15000|
|   E|  21|         1|18000|         21|                 1|        18000|
|   F|  23|         2|40000|         23|                 2|        40000|
|   G|null|      null|38000|         28|                 5|        38000|
|null|  34|        10| null|         34|                10|        26571|
|null|  36|      null| null|         36|                 5|        26571|
+----+----+----------+-----+-----------+------------------+-------------+

## **Filter Operations**

In [ ]:
df_spark=df_spark.na.drop()

In [ ]:
df_spark.show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   D| 24|         3|15000|
|   E| 21|         1|18000|
|   F| 23|         2|40000|
+----+---+----------+-----+

In [ ]:
# print the table where salary is greater or equal to 20000
df_spark.filter("Salay>=20000").show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   F| 23|         2|40000|
+----+---+----------+-----+

In [ ]:
df_spark.filter("Salay>=20000").select(['Name','age']).show()

+----+---+
|Name|age|
+----+---+
|   A| 31|
|   B| 30|
|   C| 29|
|   F| 23|
+----+---+

In [ ]:
df_spark.filter((df_spark['Salay']>=20000) & (df_spark['age']>25)).show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
+----+---+----------+-----+

In [ ]:
df_spark.filter((df_spark['Salay']>=20000) | (df_spark['age']>25)).show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   A| 31|        10|30000|
|   B| 30|         8|25000|
|   C| 29|         4|20000|
|   F| 23|         2|40000|
+----+---+----------+-----+

In [ ]:
df_spark.filter(~(df_spark['Salay']>=20000)).show()

+----+---+----------+-----+
|Name|age|Experience|Salay|
+----+---+----------+-----+
|   D| 24|         3|15000|
|   E| 21|         1|18000|
+----+---+----------+-----+

## **Groupby**

In [ ]:
df_spark=spark.read.csv("/content/drive/MyDrive/Pyspark/test.csv",header=True, inferSchema=True)

In [ ]:
df_spark.show()

+----+-----------+------+
|Name|Departments|salary|
+----+-----------+------+
|   K|         DS| 10000|
|   K|        IOT|  5000|
|   M|         BD|  4000|
|   K|         BD|  4000|
|   M|         DS|  3000|
|   S|         DS| 20000|
|   S|        IOT| 10000|
|   S|         BD|  5000|
|  Su|         DS| 10000|
|  Su|         BD|  2000|
+----+-----------+------+

In [ ]:
#groupby name
df_spark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(salary)|
+----+-----------+
|   K|      19000|
|  Su|      12000|
|   M|       7000|
|   S|      35000|
+----+-----------+

In [ ]:
#groupby department
df_spark.groupBy('Departments').sum().show()

+-----------+-----------+
|Departments|sum(salary)|
+-----------+-----------+
|        IOT|      15000|
|         BD|      15000|
|         DS|      43000|
+-----------+-----------+

In [ ]:
#groupby department
df_spark.groupBy('Departments').mean().show()

+-----------+-----------+
|Departments|avg(salary)|
+-----------+-----------+
|        IOT|     7500.0|
|         BD|     3750.0|
|         DS|    10750.0|
+-----------+-----------+

In [ ]:
df_spark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|        IOT|    2|
|         BD|    4|
|         DS|    4|
+-----------+-----+

In [ ]:
df_spark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

# **LINEAR REGRESSION**

In [ ]:
df_spark=spark.read.csv("/content/drive/MyDrive/Pyspark/LR.csv",header=True, inferSchema=True)

In [ ]:
df_spark.show()

+----+---+---+-----+
|Name|age|Exp|  Sal|
+----+---+---+-----+
|   A| 31| 10|30000|
|   B| 30|  8|25000|
|   C| 29|  4|20000|
|   D| 24|  3|20000|
|   E| 21|  1|15000|
|   F| 23|  2|18000|
+----+---+---+-----+

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Exp: integer (nullable = true)
 |-- Sal: integer (nullable = true)

In [ ]:
df_spark.columns

['Name', 'age', 'Exp', 'Sal']

[Age,Experience]----> new feature--->independent feature

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Exp"],outputCol="Independent Features")

In [ ]:
output=featureassembler.transform(df_spark)

In [ ]:
output.show()

+----+---+---+-----+--------------------+
|Name|age|Exp|  Sal|Independent Features|
+----+---+---+-----+--------------------+
|   A| 31| 10|30000|         [31.0,10.0]|
|   B| 30|  8|25000|          [30.0,8.0]|
|   C| 29|  4|20000|          [29.0,4.0]|
|   D| 24|  3|20000|          [24.0,3.0]|
|   E| 21|  1|15000|          [21.0,1.0]|
|   F| 23|  2|18000|          [23.0,2.0]|
+----+---+---+-----+--------------------+

In [ ]:
output.columns

['Name', 'age', 'Exp', 'Sal', 'Independent Features']

In [ ]:
finalized_data=output.select("Independent Features","Sal")

In [ ]:
finalized_data.show()

+--------------------+-----+
|Independent Features|  Sal|
+--------------------+-----+
|         [31.0,10.0]|30000|
|          [30.0,8.0]|25000|
|          [29.0,4.0]|20000|
|          [24.0,3.0]|20000|
|          [21.0,1.0]|15000|
|          [23.0,2.0]|18000|
+--------------------+-----+

In [ ]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Sal')
regressor=regressor.fit(train_data)

In [ ]:
### Coefficients
regressor.coefficients

DenseVector([-323.2867, 1696.8066])

In [ ]:
### Intercepts
regressor.intercept

22295.299605311826

In [ ]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+-----+------------------+
|Independent Features|  Sal|        prediction|
+--------------------+-----+------------------+
|          [21.0,1.0]|15000|17203.085755292585|
+--------------------+-----+------------------+

In [ ]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(2203.0857552925845, 4853586.845173097)